<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" package="com.google.android.apps.nexuslauncher" platformBuildVersionCode="32" platformBuildVersionName="12">
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <uses-feature android:name="com.google.android.feature.PIXEL_EXPERIENCE" android:required="true"/>
    <permission android:name="com.google.android.apps.nexuslauncher.permission.QSB" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.google.android.apps.nexuslauncher.permission.HOTSEAT_EDU" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.VIEW_INSTANT_APPS"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.QSB"/>
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.apps.miphone.aiai.matchmaker.overview.service.BIND_SERVICE"/>
    <uses-permission android:name="com.google.android.as.allapps.SUGGESTION_CONSUMER"/>
    <uses-permission android:name="android.permission.GET_PEOPLE_TILE_PREVIEW"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.HOTSEAT_EDU"/>
    <uses-permission android:name="android.permission.REGISTER_STATS_PULL_ATOM"/>
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"/>
    <uses-permission android:name="android.permission.CONTROL_REMOTE_APP_TRANSITION_ANIMATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS"/>
    <uses-permission android:name="android.permission.REMOVE_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.MANAGE_ACCESSIBILITY"/>
    <uses-permission android:name="android.permission.MONITOR_INPUT"/>
    <uses-permission android:name="android.permission.ALLOW_SLIPPERY_TOUCHES"/>
    <uses-permission android:name="android.permission.SYSTEM_APPLICATION_OVERLAY"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.ROTATE_SURFACE_FLINGER"/>
    <permission android:description="@string/permdesc_read_settings" android:label="@string/permlab_read_settings" android:name="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/permdesc_write_settings" android:label="@string/permlab_write_settings" android:name="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS"/>
    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:backupAgent="com.android.launcher3.LauncherBackupAgent" android:backupInForeground="true" android:extractNativeLibs="true" android:fullBackupContent="@xml/backupscheme" android:fullBackupOnly="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher_home" android:label="@string/derived_app_name" android:largeHeap="@bool/config_largeHeap" android:restoreAnyVersion="true" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesNonSdkApi="true">
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:enabled="true" android:launchMode="singleTask" android:name="com.google.android.apps.nexuslauncher.NexusLauncherActivity" android:resizeableActivity="true" android:resumeWhilePausing="true" android:screenOrientation="unspecified" android:stateNotNeeded="true" android:taskAffinity="" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
            <meta-data android:name="com.android.launcher3.grid.control" android:value="com.google.android.apps.nexuslauncher.grid_control"/>
            <meta-data android:name="com.android.launcher3.themedicon.option" android:value="com.google.android.apps.nexuslauncher.grid_control"/>
        </activity>
        <provider android:authorities="com.google.android.apps.nexuslauncher.appssearch" android:exported="true" android:grantUriPermissions="true" android:name="com.google.android.apps.nexuslauncher.search.AppSearchProvider"/>
        <activity android:name="com.google.android.apps.nexuslauncher.search.AppLaunchActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.apps.nexuslauncher.search.APP_LAUNCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.android.search.suggest" android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:launchMode="singleTask" android:name="com.google.android.apps.nexuslauncher.EduStarterActivity" android:noHistory="true" android:permission="com.google.android.apps.nexuslauncher.permission.HOTSEAT_EDU" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.android.launcher3.action.SHOW_HYBRID_HOTSEAT_EDU"/>
                <action android:name="com.android.launcher3.action.SHOW_ALLAPPS_SEARCH_EDU"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.apps.nexuslauncher.qsb.LongClickReceiver"/>
        <receiver android:name="com.google.android.apps.nexuslauncher.qsb.OPAStatusReceiver" android:permission="android.permission.CAPTURE_AUDIO_HOTWORD">
            <intent-filter>
                <action android:name="com.google.android.systemui.OPA_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.LauncherLayoutPreloadReceiver" android:permission="android.permission.REBOOT">
            <intent-filter>
                <action android:name="com.android.setupwizard.action.LOAD_LAUNCHER_LAYOUT"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version" android:value="12529000"/>
        <service android:directBootAware="true" android:exported="true" android:name="com.android.quickstep.TouchInteractionService" android:permission="android.permission.STATUS_BAR_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.QUICKSTEP_SERVICE"/>
            </intent-filter>
        </service>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.android.quickstep.RecentsActivity" android:resizeableActivity="true" android:resumeWhilePausing="true" android:screenOrientation="unspecified" android:stateNotNeeded="true" android:taskAffinity="" android:theme="@style/LauncherTheme"/>
        <provider android:authorities="com.google.android.apps.nexuslauncher" android:exported="true" android:grantUriPermissions="true" android:multiprocess="true" android:name="com.android.quickstep.LauncherSearchIndexablesProvider" android:permission="android.permission.READ_SEARCH_INDEXABLES">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
        </provider>
        <provider android:authorities="com.google.android.apps.nexuslauncher.overview.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/overview_file_provider_paths"/>
        </provider>
        <activity android:clearTaskOnLaunch="true" android:exported="false" android:launchMode="singleTask" android:name="com.android.launcher3.proxy.ProxyActivityStarter" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:autoRemoveFromRecents="true" android:excludeFromRecents="true" android:exported="true" android:name="com.android.quickstep.interaction.GestureSandboxActivity">
            <intent-filter>
                <action android:name="com.android.quickstep.action.GESTURE_SANDBOX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:autoRemoveFromRecents="true" android:excludeFromRecents="true" android:exported="true" android:label="@string/allset_title" android:name="com.android.quickstep.interaction.AllSetActivity" android:permission="android.permission.REBOOT" android:theme="@style/AllSetTheme">
            <intent-filter>
                <action android:name="com.android.quickstep.action.GESTURE_ONBOARDING_ALL_SET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:exported="true" android:name="com.android.launcher3.SessionCommitReceiver">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.android.launcher3.AppWidgetsRestoredReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:label="@string/notification_dots_service_title" android:name="com.android.launcher3.notification.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <activity android:autoRemoveFromRecents="true" android:excludeFromRecents="true" android:exported="true" android:name="com.android.launcher3.dragndrop.AddItemActivity" android:theme="@style/AddItemActivityTheme">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT"/>
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.google.android.apps.nexuslauncher.settings" android:exported="true" android:name="com.android.launcher3.LauncherProvider" android:readPermission="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS" android:writePermission="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS"/>
        <provider android:authorities="com.google.android.apps.nexuslauncher.grid_control" android:exported="true" android:name="com.android.launcher3.graphics.GridCustomizationsProvider"/>
        <activity android:autoRemoveFromRecents="true" android:exported="true" android:label="@string/settings_button_text" android:name="com.android.launcher3.settings.SettingsActivity" android:theme="@style/HomeSettings.Theme">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.google.android.apps.nexuslauncher.TestInfo" android:enabled="false" android:exported="true" android:name="com.android.launcher3.testing.TestInformationProvider" android:readPermission="android.permission.WRITE_SECURE_SETTINGS" android:writePermission="android.permission.WRITE_SECURE_SETTINGS"/>
        <activity android:enabled="true" android:exported="true" android:launchMode="singleTop" android:name="com.android.launcher3.secondarydisplay.SecondaryDisplayLauncher" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SECONDARY_HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:name="androidx.slice.compat.SlicePermissionActivity"/>
    </application>
</manifest>